/* HEADER */

header {
    background-color: black;
    font-family: 'Arial', sans-serif;
}

.nav-item, footer ul li a {
    color: rgb(255, 249, 141);
    font-weight: 600;
    text-decoration: underline;
} 

.nav-item a, footer ul li a {
    color: rgb(255, 249, 141) !important;
}

.nav-item a:hover, footer ul li a:hover {
    text-decoration: none;
    color: black !important;
    background-color: white !important;
}

.logo {
    color: rgb(255, 249, 141);
    font-weight: 800;
    font-size: 1.3em;
}


/* FOOTER */


#footer {
    background-color: black;
    color: white;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
}



@media (min-width: 992px) {

    .footer-endpage {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}

footer ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer ul li {
    padding: 2px
}

.footername {
    align-self: flex-end;
}

@media (max-width: 800px) { 
    nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
 }